mkdocs>=1.5.3
mkdocs-material>=9.4.6
mkdocs-rss-plugin>=1.8.0
mkdocs-glightbox
mkdocs-minify-plugin
mkdocs-mermaid2-plugin
mkdocs-static-i18n
mkdocs-material[imaging]
mkdocs-table-reader-plugin
mkdocs-redirects
openpyxl
pillow
mkdocs-google-translate